div.home {
  align-self: center;
  width: 70%;
  margin-top: 80px;

  ul.technologies-list {
    padding: 0;

    ul.core-technologies, ul.frontend-technologies {
      padding: 0;
    }
  }

  hr {
    margin: 20px 15px;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3)
  }
}